
      @{
          Layout = "~/Views/Shared/admin_share.cshtml";
      }

<!DOCTYPE HTML>


    
    
        <nav style="margin-left:120px;">
        <div   id="menu_container">
          <ul class="sf-menu" id="nav">
              <li><a href="/Admin/AdminUpdate">Home</a></li>
              <li><a href="/Admin/AddNewUser">Add New User</a></li>
               
            <li><a href="/Admin/Logout">Logout</a></li>
            
            
          </ul>
        </div>
      </nav>
    <div style="margin-left:270px;margin-top :170px;margin-right:270px;margin-bottom:auto;">
        <h1  style="color:ButtonFace;font-size:xx-large"> Program Management</h1>
        <h3  style="color:lightblue;"> <a href="/Admin/Index">Program Management</a></h3>
        @*<h3  style="color:lightblue;"> <a href="#">Delete Program</a></h3>
        <h3  style="color:lightblue;"> <a href="#">Update Program</a></h3>*@


        <h1  style="color:ButtonFace;font-size:xx-large"> Scholarship Management</h1>
        <h3  style="color:lightblue;"> <a href="/Admin/schlindex"> Scholarship Management</a></h3>
@*        <h3  style="color:lightblue;"> <a href="#">Delete Scholarship</a></h3>
        <h3  style="color:lightblue;"> <a href="#">Update ScholarShip</a></h3>*@


     </div>


