@*@model List<MvcApplication1.Models.News>*@
@{
    
   
    // ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // ViewBag.Title = "Index";
}

<div id="sidebar_container">
    <div class="sidebar">
       @* <input type="button" value="Get Latest News" onclick="return search1();">*@
        <h1 style="color:white">News</h1>
        
            
@*<div id="page">


	

	<ul id="ticker_02" class="ticker">
		<li   id="n1">
			
		</li>
		<li id="n2">
			
		</li>

		<li id="n3">
			
		</li>*@
		@*<li id="n4">*@
			
		@*</li>*@
	@*</ul>



</div>*@
           @* <a href="#">Read more</a>*@
       
    </div>
    <div class="sidebar">
        <h3>Useful Links</h3>
        <ul>
            <li><a href="http://www.pu.edu.pk">Punjab University Lahore</a></li>
            <li><a href="http://www.uet.edu.pk/">University of Engineering and Technology(UET)Lahore</a></li>
            <li><a href="http://www.lums.edu.pk/">Lahore University of Management Sciences (LUMS)</a></li>
            <li><a href="http://www.gcu.edu.pk/">GC University Lahore</a></li>
            <li><a href="http://www.qau.edu.pk/">Quaid-i-Azam University</a></li>
        </ul>
    </div>
</div>

<div class="content">
    <h1>Welcome to Career Guider</h1>


            <div >

                <div class="main_view">
                    <div class="window">
                        <div style="width: 3160px; left: -2370px;"
                            class="image_reel">

                            <a href="#">
                                <img style="height: 286px; width: 700px;" src="~/images/career_1.jpg" alt="" /></a>
                            <a href="#">
                                <img style="height: 286px; width: 700px;" src="~/images/career_2.jpg" alt="" /></a>
                            <a href="#">
                                <img style="height: 286px; width: 700px;" src="~/images/LES-2010-picture.jpg" alt="" /></a>
                            <a href="#">
                                <img style="height: 286px; width: 700px;" src="~/images/qu_1.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div style="display: block;" class="paging">
                        <a class="" href="#" rel="1">1</a>
                        <a class="" href="#" rel="2">2</a>
                        <a class="" href="#" rel="3">3</a>
                        <a class="" href="#" rel="4">4</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
        <h1 align="center"> Tips For Career deciding</h1>
        <h3>Evaluate Your Work Style</h3>
    <p>
        The right career for you will be suited to your work style. Are you a self-starter who accomplishes goals on your own, or do you need the discipline of a structured work environment to do your best? An honest evaluation of your work style will help you decide whether a career where you work independently is right for you. If you're naturally a daydreamer or a procrastinator, you may do well in a career where a supervisor help you stay on task.
    

    
    </p>
    <h3>Know Your Talents </h3>
    <p>
      Do you have a hobby or a talent that you love and are good at? Think of ways to transform activities that come naturally to you into a career. Working with wood, playing an instrument or trying different hair styles can lead to careers as a custom furniture marker, a musician or a hair stylist. Doing what you love can lead to a rewarding career.
    </p>
    <h3>Set Financial Goals</h3>
    <p>One of your goals should be to choose a career where you can earn enough money to meet your financial goals. If you want to own a vacation home on every continent and fly to these homes on your private jet, a career as a retail clerk will probably not help you achieve your goals. You may have to make some compromises along the way, but generally speaking, the career you choose should allow you to meet your financial goals. </p>
    <h3> Conduct Informational Interviews </h3>
    <p>
A 15-minute informational interview with someone who has a job you think you want can help cement your career choice. Many people will be happy to meet briefly with you to talk about the pros and cons of what they do and tell you whether they would make the same career choice if they could turn back time and choose differently. Start and end the meeting on time, ask probing questions and listen carefully to the answers.
    </p>
</div>
